@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
    width: 100%;
}

/* fonts  */
@font-face {
    font-family: "DearJane";
    src: url("../fonts/font.woff") format("woff"),
        url("../fonts/font.woff2") format("woff2");
}

@font-face {
    font-family: "lato";
    src: url(https://use.typekit.net/af/220823/000000000000000000015231/27/l?subset_id=2&fvd=n7&v=3)
            format("woff2"),
        url(https://use.typekit.net/af/220823/000000000000000000015231/27/d?subset_id=2&fvd=n7&v=3)
            format("woff"),
        url(https://use.typekit.net/af/220823/000000000000000000015231/27/a?subset_id=2&fvd=n7&v=3)
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}
@font-face {
    font-family: "lato";
    src: url(https://use.typekit.net/af/180254/00000000000000000001522c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
            format("woff2"),
        url(https://use.typekit.net/af/180254/00000000000000000001522c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
            format("woff"),
        url(https://use.typekit.net/af/180254/00000000000000000001522c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}
@font-face {
    font-family: "linotype-didot";
    src: url(https://use.typekit.net/af/b00c42/00000000000000007735bbdf/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
            format("woff2"),
        url(https://use.typekit.net/af/b00c42/00000000000000007735bbdf/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
            format("woff"),
        url(https://use.typekit.net/af/b00c42/00000000000000007735bbdf/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3)
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-didot;
}

.hide-scroller::-webkit-scrollbar {
    width: 0 !important;
    scrollbar-width: none;
}

/* global component styles ------------------------------------- */
@layer components {
    .content__container {
        @apply px-5 mx-auto md:px-10 xl:px-0 xl:max-w-[1280px];
    }
    /* breadcrumbs style  */
    .breadcrumbs {
        @apply font-lato text-sm text-s2;
    }
    .breadcrumbs .link {
        @apply relative after:content-['/'] after:absolute after:-right-2 mr-2
        ;
    }

    .breadcrumbs span {
        @apply font-bold;
    }

    .sec-header {
        @apply pb-10 pt-16;
    }
    .pre-header {
        @apply font-DearJane text-cusBlack text-xl
     leading-8 mb-5 px-4 lowercase relative z-10
     lg:text-[1.75rem] lg:leading-[2.875rem] lg:mb-6 lg:pl-20
       after:w-full after:absolute after:border-b-4 after:border-p2 after:top-3 after:left-0 after:-z-10
        lg:after:top-5;
    }

    .btn-primary {
        @apply inline-block cursor-pointer min-h-[4rem] w-full 
         bg-p2 text-cusBlack uppercase font-lato text-[0.875rem] leading-[1.5rem] font-bold py-5 px-[48px]
          text-center relative after:w-[calc(100%_-_1rem)] after:h-[calc(100%_-_1rem)] after:absolute
         after:border after:border-cusBlack after:left-[0.5rem] after:top-[0.5rem] hover:after:border-2;
    }

    .btn-primary--fixed-width {
         @apply inline-block cursor-pointer min-h-[4rem] w-full 
         bg-p2 text-cusBlack uppercase font-lato text-[0.875rem] leading-[1.5rem] font-bold py-5 px-[48px]
          text-center relative max-w-[260px] mx-auto  md:max-w-[424px]  after:w-[calc(100%_-_1rem)] after:h-[calc(100%_-_1rem)] after:absolute
         after:border after:border-cusBlack after:left-[0.5rem] after:top-[0.5rem] hover:after:border-2;
    }

    .para {
        @apply font-lato text-cusBlack text-[0.875rem] tracking-[0.019rem] 
         md:text-base;
    }

    .post-title {
        @apply font-didot uppercase text-[1.75rem] leading-[2rem] mx-auto text-center mb-[1.25rem] lg:text-[32px];
    }
    .post-img {
        @apply w-full mb-6;
    }
    .post-des {
        @apply para mb-[1.75rem] text-center mx-[2.25rem] lg:max-w-[24rem] lg:mx-auto lg:mb-11;
    }

    .swiper-button-prev,
    .swiper-button-next {
        @apply text-cusBlack scale-[0.6] lg:scale-[1];
    }

    .desktopMenuHover {
        @apply hidden absolute z-50 left-0
         w-[calc(100%_-_80px)] ml-10 bg-white grid 
         grid-cols-[33.33%_16.66%_auto] p-6 gap-x-8
         border border-[#dee2e6] xl:w-full xl:ml-0 ;
    }



    .desktopMenuHover .itemHeader {
        @apply font-lato inline-block text-sm
         leading-10 font-bold
        uppercase text-cusBlack;
    }

    .desktopMenuHover .itemLinks {
        @apply font-lato inline-block text-sm 
        leading-[1.85rem] 
        capitalize text-cusBlack ;
    }
}
/* colors  */

/* d2d6dc */

/* -------------------- index page ----------------- */
.container {
}
.top-bar {
    @apply flex flex-row justify-end px-4
     text-end w-full pt-2 pb-2
     border-b-[1px] border-[#dee2e6];
}
.top-bar button {
    @apply w-4;
}
.top-bar button svg {
    @apply w-full h-full;
}

.top-bar-txt {
    @apply flex justify-center;
}

/* ======== header =======  */
.navbar {
    @apply px-3 lg:px-10;
}

.navbar-container {
    @apply py-[14px];
}

/* top navbar  */
.container-inner {
    @apply flex justify-between items-center;
}

.nav-btn {
    @apply lg:hidden;
}

.nav-btn button {
    @apply relative w-[1.3rem] h-[1rem] flex flex-col justify-between;
}
.nav-btn button span {
    @apply w-full h-0.5 bg-black;
}
.brand-logo {
    @apply max-w-[106px] md:max-w-[175px];
}
.brand-logo svg {
    @apply w-full;
}

/* user area  */
.user-area {
}
.user-area .user-nav {
    @apply hidden lg:flex lg:mb-4;
}

.user-area .user-nav a {
    @apply block first:mr-3;
}

/* profile buttons  */
.user-area .profile-cart {
    @apply flex items-center lg:justify-between;
}

.user-area button {
}

.user-area .search-btn {
    @apply hidden w-4 lg:block;
}

.user-area .user-profile {
    @apply w-4 mr-9 lg:mr-0;
}
.user-area .cart-btn {
    @apply flex items-center;
}
.user-area .cart-btn svg {
    @apply w-[17px] mr-[2px];
}

/* desktop mega menu  */
.menu-wrap {
    @apply flex items-center;
}
.desktop-menu {
    @apply hidden lg:block lg:ml-2;
}

.desktop-menu .desktop-menu-list {
    @apply flex gap-x-4 lg:ml-16;
}

.desktop-menu-list .menu-item {
    @apply pb-[10px] capitalize border-b-4 border-transparent hover:border-[#333];
}

/* shop the gram section  */
#gram-grid .grid-wrap {
    /* @apply grid grid-cols-2 md:grid-cols-5; */
    overflow: hidden;
}
#gram-grid .img-wrap {
    @apply float-left w-1/2 pt-[50%] md:w-1/5 md:pt-[20%];
    /* float: left;
    width: 50%;
    padding-top: 50%; */
}
/* #gram-grid .img-wrap:nth-child(2) {
    @apply md:col-span-2 md:row-span-2 ;  
} */
/* #gram-grid div.img-wrap:nth-child(7n + 1) {
    @apply md:col-span-2 md:row-span-2 ;
} */
#gram-grid div.img-wrap:nth-of-type(7n + 1) {
    @apply md:w-2/5 md:pt-[40%] md:float-right;
}
#gram-grid div.img-wrap:nth-of-type(14n + 1) {
    @apply md:w-2/5 md:pt-[40%] md:float-left;
}
/* #gram-grid .img-wrap:nth-child(14n + 1) {
    @apply md:w-2/5 md:pt-[40%];
} */
